{% extends "base.html" %}
{%block content%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th scope="col">Table Name</th>
      <th scope="col">No. Of Rows</th>
      <th scope="col">Download</th>
      
    </tr>
  </thead>
  <tbody>
    
    {% for i in name_link_list %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i[0] }}</td>
      <td>{{ i[1] }}</td>
      <td> <a href="/download/{{ i[0] }}">Download</a> </td> 
    </tr>
    {% endfor %}
 
  </tbody>
</table>

{% endblock %}