{% extends "base.html" %}
{%block content%}

<div class="container" style="margin: 0 auto">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#FF0000">Failure</h2>
        <p style="font-size:20px;color:#5C5C5C;">There is some error in downloading your data please try again.</p>
        <a href="/" class="btn btn-success">Home </a>
        <a href="/data" class="btn btn-success">Download</a>
    <br><br>
        </div>
        
	</div>
</div>

{% endblock %}